<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.actel.softconsole.embeddedcdt.core8051s.idleNative">
<booleanAttribute key="com.actel.softconsole.embeddedcdt.core8051s.debugger_app_console" value="false"/>
<stringAttribute key="com.actel.softconsole.embeddedcdt.core8051s.debugger_init_commands" value="set trust-readonly-sections on&#10;set remotetimeout 30&#10;target remote | &quot;${eclipse_home}/../Sourcery-G++/bin/c8051-elf-sprite&quot; flashpro: &quot;${build_loc}&quot;&#10;set mem inaccessible-by-default off&#10;load&#10;tb main&#10;"/>
<stringAttribute key="com.actel.softconsole.embeddedcdt.core8051s.debugger_run_commands" value="cont&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.actel.softconsole.embeddedcdt.core8051s.EmbeddedCDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_REGISTER_GROUPS" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_REGISTER_BOOKKEEPING" value="false"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_VARIABLE_BOOKKEEPING" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.FORMAT" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;contentList/&gt;"/>
<stringAttribute key="org.eclipse.cdt.launch.GLOBAL_VARIABLES" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;globalVariableList/&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList/&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug\Core8051s_Simple_LED.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="Core8051s_Simple_LED"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="cdt.managedbuild.config.sdcc.actel.exe.debug.824305454"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Core8051s_Simple_LED"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
</launchConfiguration>
